# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

__pycache__/
config.py
date.txt
.idea/
ex/
ENL_tianjin_HQ.py